.negrita{
    font-weight: bold
}
#fondoNaranja{
    background-color: orange
}
#fondoVerde{
    background-color: green
}
#fondoAzul{
    background-color: blue;
}
#fondoRojo{
    background-color: red;
}