<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= sheetsyle href= style.css> 
</head>
<body>
    <img src= "img/logo-mercado-liebre.svg">
    <p> Buscar productos, marcas y más</p>
    <p>Comprá en cuotas y sin tarjeta de credito</p>
    
    <ul>
        <a href=""><li>Ofertas</li></a>
        <a href=""><li>Tiendas Oficiales</li></a>
        <a href=""><li>Vender</li></a>
        <a href=""><li>Ayuda</li></a>
    </ul>
    <ul>
        <a href=""><li>Creá tu cuenta</li></a>
        <a href=""><li>Ingresá</li></a>
        <a href=""><li>Mis compras</li></a>
    </ul>

    <img src="img-home-banner.jpg">

    <h2> Productos </h2>
    <h3> Basado en tu última visita</h3>
    <h3> Ofertas</h3>

    <img src="img-cafetera-moulinex.jpg">
    <ol>
        <li id = "fondoNaranja"> $6.770 </li>
        <li id = "fondoNaranja"> 40% OFF</li>
        <li id = "fondoNaranja" class = "negrita">Cafetera Moulinex Dolce Gusto</li>
    </ol>

    <img src="img-macbook-pro-2019.jpg">
    <ol>
        <li id = "fondoVerde"> $230.000 </li>
        <li id = "fondoVerde" > 20% OFF</li>
        <li id = "fondoVerde" class = "negrita">Macbook Pro 2019</li>
    </ol>


    <img src="img-samsung-galaxy-s10.jpg">
    <ol>
        <li id = "fondoAzul"> $70.500 </li>
        <li id = "fondoAzul"> 15% OFF</li>
        <li id = "fondoAzul" class = "negrita">Telefono movil Samsung galaxy S10</li>
    </ol>

    <img src="img-tv-samsung-smart.jpg">

    <ol>
        <li id = "fondoRojo"> $34.000 </li>
        <li id = "fondoRojo"> 5% OFF</li>
        <li id = "fondoRojo" class = "negrita">SmartTV Samsung 43"</li>
    </ol>

    <p class = "negrita"> Paga con tarjeta o en efectivo</p>
    <p> Con MercadoLibreCash tenes coutas sin interes con tarjeta o efectivo en puntos de pago. ¡y siempre es seguro!</p>
    <p class = "negrita"> Envio gratis desde los $2.500</p>
    <p> Solo por estar registrad@ en MaercadoLibre tenes envios gratis en miles de productos.Es un beneficios de MercadoPuntos.</p>
    <p class = "negrita"> Seguridad, de principio a fin</p>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLibre no hay nada que no puedas hacer porque estas siempre protegid@ </p>

</body>
</html>